{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}
{% block body %}
<style>
    .main-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin-top:50px;
    }

    /* Image styles */
    .image {
        flex: 1;
        max-width: 50%;
        padding: 10px;
    }

    .image img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .text {
        flex: 1;
        max-width: 80%;
        padding: 10px;
        color: #fafafa;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .main-container {
            flex-direction: column;
        }
        .image,
        .text {
            max-width: 100%;
            margin-top: 8px;
        }
    }
</style>

<div class="container" style="height:500px;">
    <h1 class="text-light mt-5 mb-3 text-center">About US</h1>
    <div class="main-container">
        <img src="{% static '/aupt.jpg' %}">
        <div class="text">
            <b>Lokin Psy</b> is a blog website for Psychology learners and enthusiast.
            We post blog related to the concept, research and approaches in the psychology. Our <b>Mission</b> is to simplified and psychology more understandable to people.
            With the aim of <b>Psychology in Nutshell</b>, we are decidated to make provide authentic and trustworthy content.
            <p>This website is created, managed and designed by <a href="http://instagram.com/lp_pandey04">Lokendra Pandey</a></p>
        </div>
    </div>
</div>

{% endblock %}