{%extends 'base.html' %}

{% block title %}Contact {% endblock %}

{% block body %}
<style>
    .form-container{
        margin: auto;
        width: 85%;
        padding: 2%;
        outline: 0.1em solid rgb(9, 64, 91);
        border-radius: 12px;
        box-shadow: 1px 1px 24px rgb(9, 64, 91);
        max-width: 700px;
    }
    form{
        margin: auto;
        width: 100%;
    }
    @media screen and (max-width: 600px){
        .form-container{
            width: 98%;
            max-width: none;
            padding: 20px;
        }  
    }
</style>

<div class="container">
    <h1 class='text-light text-center mb-2 mt-5'> Contact us now</h1>
    <p class="text-center text-secondary mb-5">Share feedback, suggestions and problems.</p>
    <div class="form-container mt-5 mb-5">
        <form method="post" action="contact" class="text-light text-bg-transparent">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="text" class="form-control text-white bg-transparent" name="cname" id="cname" placeholder="Your Name" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control text-white bg-transparent" name="cemail" id="cemail" placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Subject</label>
                <input type="text" class="form-control text-white bg-transparent" name="csubject" id="csubject" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control text-white bg-transparent" name="cmessage" id="cmessage" rows="3" required></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-light text-center mt-2">Send Message</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}