{% extends "base.html" %}

{% block title %}Disclaimer{% endblock title %}

{% block body %}
<div class="container">
    <h5 class="h5 text-light mt-3 mb-3 text-center text-xl">Disclaimer</h5>
    <p class="text-secondary">Lokin Psy is a blog website. The post that made on the platform are conclusion of different studies, concept and research.
        Lokin Psy does not claim the authenticity of any research, concept and study and does not promote any abusive and illegal use of any material.
        The information provided by ("we," "us," or "our") on <a href="/">lokinpsy</a> is for general informational purposes only. All
        information on the Site and our mobile application is provided in good faith, however
        we make no representation or warranty of any kind, express or implied, regarding the
        accuracy, adequacy, validity, reliability, availability, or completeness of any
        information on the Site or our mobile application. UNDER NO CIRCUMSTANCE
        SHALL WE HAVE ANY LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY
        KIND INCURRED AS A RESULT OF THE USE OF THE SITE OR OUR MOBILE
        APPLICATION OR RELIANCE ON ANY INFORMATION PROVIDED ON THE SITE
        AND OUR MOBILE APPLICATION. YOUR USE OF THE SITE AND OUR MOBILE
        APPLICATION AND YOUR RELIANCE ON ANY INFORMATION ON THE SITE AND
        OUR MOBILE APPLICATION IS SOLELY AT YOUR OWN RISK.
        Every post that is made on the platform is throughly examined and reviewed, In any case of correction please refer to <a href="/correq">Correction Request</a> page.

    </p>
</div>
{% endblock body %}