{%extends 'base.html' %}
{%load static%}


<title>{%block title%}Home{%endblock%}</title>

{%block body%}
<script src="{% static 'sotp.js' %}"></script>
<script>
  function showPass() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
      document.getElementById("ens").hidden = true;
      document.getElementById("es").hidden = false;
    } else {
      x.type = "password";
      document.getElementById("ens").hidden = false;
      document.getElementById("es").hidden = true;
    }
  }

  document.addEventListener('DOMContentLoaded', function() {

  const loader = document.getElementById('loader');
  const messageDiv = document.getElementById('otpmsg');
  const signform = document.getElementById("otp-form");
  signform.addEventListener('submit',function(e){
      e.preventDefault();
      messageDiv.hidden = false;
      messageDiv.textContent = "Processing...";
      loader.hidden = false;
      const formdata = new FormData(signform);
      messageDiv.textContent = "Processing...";
      loader.hidden = false;
      fetch("{% url 'signup' %}",{
          method: 'POST',
          body: formdata,
      })
      .then(response => response.json())
      .then(redata => {
          if (redata.msg == "successfull"){
              window.location.replace("{% url 'home'%}");
            }
            else{
              const dmsg = document.getElementById('rmsg');
              dmsg.textContent = redata.msg;
              messageDiv.hidden = true;
              loader.hidden = true;
            }
      })
      .catch(error => {
          console.error('Error fetching data:', error);
      });
  });
});
</script>

<style>
  .header {
    background-color: rgb(9, 64, 91);
    padding: 40px;
    text-align: center;
    height: 600px;
  }

  #comname {
      font-size: 2.5rem;
      margin-bottom: 10px;
      margin-top: 20px;
      color: white;
  }

  #tagline {
      font-size: 1.2rem;
      color: #777;
      margin-top: 10px;
  }

  .search-container {
      margin-bottom: 20px;
      max-width: 500px;
      margin-top: 100px;
  }

  #searchquery {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 70%;
  }

  #searchbtn {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin: 5px;
  }

    #postcol{
      box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.5);
    }

    .subcon{
      background-color: rgb(65, 67, 68);
    }
    .subconb{
      background-color: rgb(65, 67, 68);
      height: 50px;
    }
</style>
<body>
    <header class="header">
      <div class="main-con" style="margin-top: 150px;">
        <h1 id="comname">Welcome to <strong>Lokin Psy</strong></h1>
        <p id="tagline"><strong>Psychology in a Nutshell</strong></p>
        <div class="search-container mx-auto">
            <form id="search-form" action="search">
                <input style="font-weight: bold;" type="text" placeholder="Search topic" name='searchquery' id='searchquery'>
                <button type="submit" id="searchbtn">Search</button>
            </form>
        </div>
      </div>
    </header>
    <!-- Post section -->
    <div id="allpost" class="container">
      {% if posts %}
        {% for post in posts %}
            {% if forloop.counter0|divisibleby:3 %}
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 mb-3">
            {% endif %}
            <div class="col">
            <a style="text-decoration: none;" href="{% url 'post' post.id %}">
                <div id="postcol" class="card h-100 textlight bg-dark">
                <img src="{{ post.img_url }}" class="card-img-top" style="height: 300px" alt="...">
                <div class="card-body">
                    <h1 class="card-title text-light">{{ post.title }}</h1>
                    <p class="card-text text-light mt-4">{{ post.intro }}</p>
                    <div class="card-footer">
                    <p class="card-text text-secondary mt-1">{{ post.category }}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-secondary bg-dark">Published on {{ post.pub_date.date }}</small>
                </div>
                </div>
            </a>
            </div>
            {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
        </div>

        <!-- Pagination -->
        <hr>
        <nav aria-label="Page navigation example" style="text-align: center;">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link bg-dark text-white" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link bg-dark text-white" href="?page={{posts.previous_page_number}}">Previous</a></li>
            {% endif%}
            <li class="page-item"><a class="page-link bg-dark text-white">{{posts.number}}</a></li>
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link bg-dark text-white" href="?page={{posts.next_page_number}}">Next</a></li>
                <li class="page-item"><a class="page-link bg-dark text-white" href="?page={{posts.paginator.num_pages}}">Last</a></li>
            {% endif%}
        </ul>
        </nav>
      {% else %}
        <h5 class="text-light text-center my-5">No posts yet</h5>
      {% endif %}
    </div>
    <!-- Signup for free -->
    <hr>
    <div id="subcon" class="subcon">
      {% if user.is_authenticated %}
        <div class="mb-5" style="padding-top: 35px; margin-bottom: 25px;">
          <h2 class='text-light text-center'>Recommended Posts</h2>
        </div>
        <div class="container">
          {% if ran_posts %}
            {% for ran_post in ran_posts %}
                {% if forloop.counter0|divisibleby:3 %}
                <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 mb-3">
                {% endif %}
                <div class="col">
                <a style="text-decoration: none;" href="{% url 'post' ran_post.id %}">
                    <div id="postcol" class="card h-100 textlight bg-dark">
                    <img src="{{ ran_post.img_url }}" class="card-img-top" style="height: 300px" alt="...">
                    <div class="card-body">
                        <h1 class="card-title text-light">{{ ran_post.title }}</h1>
                        <p class="card-text text-light mt-4">{{ ran_post.intro }}</p>
                        <div class="card-footer">
                        <p class="card-text text-secondary mt-1">{{ ran_post.category }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-secondary bg-dark">Published on {{ ran_post.pub_date.date }}</small>
                    </div>
                    </div>
                </a>
                </div>
                {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
                </div>
                {% endif %}
            {% endfor %}
          {% endif %}
          </div>
          <div class="subconb">  
        </div>
      </div>
      {% else %}
        <div class="mb-5" style="padding-top: 35px; margin-bottom: 25px;">
          <h2 class='text-light text-center mb-2 mt-5'> Signup Now</h2>
          <p class="text-center text-secondary mb-5">Get email notification for every new post, save post, add comments and many more. Don't worry it's free!!</p>
        </div>
        <div class="sub-container mt-4" id='sub-container'>
          <form id="subForm" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="semail" class="form-label text-light">Enter your Email</label>
                <input style="font-size: larger; font-weight: bold;" type="email" class="form-control text-white bg-transparent" name="semail" id="semail" required></input>
            </div>
            <input type="hidden" name="type" value="signup">
            <div class="d-flex justify-content-center">
                <button id="otpbtn" type="submit" class="btn btn-outline-light text-center mt-2"><b>Verify Email</b></button>
            </div>
          </form>
          <!-- OTP Form -->
          <form id="otp-form" method="POST" hidden>
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label text-light">Username</label>
              <input pattern="^[a-z0-9_]+$" title="Only lowercase letters, numbers and underscope allowed" style="font-size: larger; font-weight: bold;" type="text" class="form-control text-white bg-transparent" name="username" id="username" required></input>
          </div>
          <label for="password" class="form-label text-light">Password</label>
          <div class="input-group mb-3">
              <input pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" title="Must contain at least one number, one uppercase and lowercase letter, and at least 8 characters" style="font-size: larger; font-weight: bold;" type="password" class="form-control text-white bg-transparent" name="password" id="password" required></input>
              <span class="input-group-text bg-dark" id="basic-addon1">
                  <button type="button" class="btn btn-dark" onclick="showPass()">
                      <i class="bi bi-eye" id='ens'></i>
                      <i class="bi bi-eye-slash" hidden id='es'></i>
                  </button>
              </span>
          </div>
          <div class="mb-3">
            <label for="sotp" class="form-label text-light">Enter OTP</label>
            <input pattern = "\d{6}" title="OTP should be a 6-digit number" style="font-size: larger; font-weight: bold;" type="text" class="form-control text-white bg-transparent" name="sotp" id="sotp" required></input>
          </div>
            <div class="d-flex justify-content-center">
              <button id="subbtn" type="submit" class="btn btn-outline-light text-center mt-2"><b>Signup</b></button>
            </div>
          </form>
          <div class="container">
            <div class="text-center mt-2" style="color:#FF6961" id="rmsg"></div>
            <div class="text-center mt-2" style="color: aliceblue;" id="otpmsg"></div>
              <div class="loader" id="loader" hidden></div>
              <hr style="border-top: 1px solid #bbb;">
              <p style="text-align: center;"><a class=" link-light link-offset-2 link-underline link-underline-opacity-50" href="{% url 'signin' %}">Already have account? Signin</a></p>
          </div>
        </div>
    </div>
    <div class="subconb"></div>
    {% endif %}
</body>

</html>

{%endblock%}