{% extends "base.html" %}
{% block title %}Account|{% endblock title %}
{% block body %}
<script>
    document.addEventListener('DOMContentLoaded', function() {

        const usernameInput = document.getElementById("nusername");
        const validationResult = document.getElementById("rmsg");
        const submitButton = document.getElementById("chubtn");
        const chuform = document.getElementById('chu-form');
        chuform.addEventListener('submit',function(e){
            e.preventDefault();
            const formdata = new FormData(chuform);
            fetch("{% url 'chu' %}",{
                method: 'POST',
                body: formdata,
            })
            .then(response => response.json())
            .then(redata => {
              if (redata.msg == "success"){
                location.replace("{% url 'me' %}");
              }
              else{
                const dmsg = document.getElementById('rmsg');
                dmsg.textContent = redata.msg;
              }
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        });
    });

</script>
    <ul class="list-group list-group-flush mt-3 mb-3 mx-2">
        <li class="list-group-item text-light bg-transparent mt-1 mb-1"><h1>Hey, {{user.username}}</h1></li>
        <li class="list-group-item text-light bg-dark mt-1 mb-1">
            <div class="accordion" id="outerAccordion">
                <div class="accordion-item text-light bg-dark">
                    <h2 class="accordion-header" id="outerHeadingOne">
                        <button class="accordion-button text-light bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#innerAccordion" aria-expanded="true" aria-controls="innerAccordion">
                            Account Settings
                        </button>
                    </h2>
                    <div id="innerAccordion" class="accordion-collapse collapse" aria-labelledby="outerHeadingOne" data-bs-parent="#outerAccordion">
                        <div class="accordion-body">
                            <div class="accordion" id="innerNestedAccordion">
                                <div class="accordion-item text-light bg-dark">
                                    <h2 class="accordion-header" id="innerHeadingOne">
                                        <button class="accordion-button text-light bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#innerCollapseOne" aria-expanded="true" aria-controls="innerCollapseOne">
                                            Change Username
                                        </button>
                                    </h2>
                                    <div id="innerCollapseOne" class="accordion-collapse collapse" aria-labelledby="innerHeadingOne" data-bs-parent="#innerNestedAccordion">
                                        <div class="accordion-body">
                                            <form class="row g-3" id="chu-form" method="post">
                                                {% csrf_token %}
                                                <div class="col-auto">
                                                  <input pattern="^[a-z0-9_]+$" title="Only lowercase letters, numbers and underscope allowed" type="text" class="form-control bg-transparent text-light" id="nusername" placeholder="{{user.username}}" style="font-weight: bold;" name="nusername" required>
                                                </div>
                                                <div class="col-auto">
                                                  <button id="chubtn" type="submit" class="btn btn-outline-light"><strong>Save changes</strong></button>
                                                </div>
                                              </form>
                                              <div class="mt-2" style="color:#FF6961" id="rmsg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <a href="{% url 'fp' %}" class="text-decoration-none text-light ms-4 mt-4 mb-4">Reset password</a>
                                </div>
                                <div class="accordion-item text-light bg-dark">
                                    <h2 class="accordion-header mt-2" id="innerHeadingTwo">
                                        <button class="accordion-button text-light bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#innerCollapseTwo" aria-expanded="true" aria-controls="innerCollapseTwo">
                                            More
                                        </button>
                                    </h2>
                                    <div id="innerCollapseTwo" class="accordion-collapse collapse" aria-labelledby="innerHeadingTwo" data-bs-parent="#innerNestedAccordion">
                                        <div class="accordion-body">
                                            <div class="mt-3">
                                                <a href="{% url 'del_acc' %}" class="text-decoration-none text-danger ms-4 mt-4"><strong>Delete account</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add more outer accordion items here -->
            </div>
        </li>
        <a href="{% url 'lpost' %}" class="text-light" style="text-decoration: none;">
            <li class="list-group-item text-light bg-dark mt-1 mb-1">Liked Post</li>
        </a>
        <a href="{% url 'spost' %}" class="text-light" style="text-decoration: none;">
            <li class="list-group-item text-light bg-dark mt-1 mb-1">Saved Post</li>
        </a>
        <li class="list-group-item text-light bg-dark mb-1"><a href="{% url 'contact' %}" class="link-light">Get Help</a></li>
        <li class="list-group-item text-light bg-dark mb-1"><a href="{% url 'signout' %}" class="link-danger" style="text-decoration: none;"><strong>Signout</strong></a></li>
      </ul>

{% endblock body %}